.container {
  overflow-x: auto;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  max-height: 600px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
}



.tr {
  background-color: #e5cb85;
  color: black;
  text-align: left;
}

.th,
.td {
  padding: 16px 24px;
  text-align: left;
}

.table-row {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.image-box {
  width: 100px;
  height: 100px;
  background-color: #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box span{
  color: #888;
  font-size: 14px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.edit-btn {
  border: 1px solid #3b82f6;
  color: #3b82f6;
  padding: 4px 16px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #eff6ff;
}

.delete-btn {
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 4px 16px;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #fee2e2;
}

.pdf-button-container {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.pdf-button {
  background-color: #0a1737;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.pdf-button:hover {
  background-color: #162956;
}

.add-btn{
  background-color: #e5cb85;
  color: black;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.add-btn:hover{
  background-color: #FFD700;
}

.main-layout {
    display: flex;
  }
  
  .overview-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
