body {
    background-color: #fff;
    text-align: center;
  }
  
  .update-category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .container {
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    transition: transform 0.2s;
    width: 650px;
    text-align: center;
    margin: 30px auto;
  }
  
  h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button {
    padding: 12px 20px;
    border-radius: 6px;
    margin: 20px 10px 0 10px;
    border: none;
    cursor: pointer;
    background-color: #D8B784;
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
  }
  